auth/__pycache__
auth/errors/__pycache__
auth/utils/__pycache__
backend/vendor 
.vscode
.docker/backend-db/data
.docker/backend-db/project.sql
.docker/python/.env
.docker/auth-db/data
.docker/auth-db/.env
.docker/auth-db/create.sql
.docker/auth-db/.env-example
.docker/backend-db/.env